<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit(survey)" #survey="ngForm">
    <hr>
    <div formGroupName="type">
      <mat-vertical-stepper formArrayName="options">
        <mat-step *ngFor="let child of getControls(); let i = index">
          <ng-template matStepLabel>Step {{ i+1 }} {{child['controls'].catname.value}}</ng-template>
          <div [formGroupName]="i">
            <div formArrayName="choice">
              <div *ngFor="let son of child['controls'].choice['controls']; let j = index">
                <div [formGroupName]="j">
                  {{son['controls'].skillname.value}}<br>
                  <!-- <input formControlName="score" #myInput (input)="mySlider.value = myInput.value"/> -->
                  <!-- <mat-slider
                  [tickInterval]="sd.tickInterval"
                  [max]="sd.max"
                  [min]="sd.min"
                  [thumbLabel]="sd.thumbLabel"
                  formControlName="score"
                  #mySlider 
                  (input)="myInput.value = mySlider.value"
                  ></mat-slider> -->
                  <mat-slider
                  [tickInterval]="sd.tickInterval"
                  [max]="sd.max"
                  [min]="sd.min"
                  [thumbLabel]="sd.thumbLabel"
                  formControlName="score"
                  ></mat-slider>
                  {{son['controls'].score.value}}
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="button" mat-button matStepperPrevious *ngIf="i!=0">Back</button>
            <button type="button" mat-button matStepperNext *ngIf="i!=getControls().length-1">Next</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  <br>
  <pre>{{userForm.value | json }}</pre>